@charset 'utf-8';

// sass-lint:disable no-color-keywords
$palette: (
  cardinal:           #B91E25,
  dusty-gray:         #999,
  fantasy:            #FBF3F4,
  red:                #F00,
  vanilla-ice:        #F0CFD1
);
// sass-lint:enable no-color-keywords
