@charset 'utf-8';

.copyright {
  border-top: 1px solid black(0.05);
  color: palette(dusty-gray);
  font-family: 'dejarip';
  font-size: 12px;
  padding: 25px;
  text-align: center;

  &__list {
    // sass-lint:disable no-vendor-prefixes
    -webkit-display: flex;
    -webkit-justify-content: center;
    // sass-lint:enable no-vendor-prefixes
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0 0 20px;
    padding: 0;
  }
}
